# Generic Qt and C++ patterns
*.moc
Makefile*
*.so.*
*.so
*.so.debug
*.o
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
ui_*.h
qrc_*.cpp
Debug/
Release/
*.log
*.autosave
.*.stash

# QtCreator project files
*.pro.user
=======
*.pro.user*
*~

# CMake specific
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
*_autogen
*.depends

# Project specific
qjrad
qjrad.cbp
qjrad_*.pro
dictionary_adaptor.*
kanjidic.rcc
kanjiconv
converter/out
